@import "../../style/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  @media (hover: none) {
    overflow: auto !important;
  }
}

:root {
  --page-width: 100%;
}
