@import "../../../../style/vars";

.link {
  text-decoration: none;
  color: $color-text-primary;
  display: block;
  font-size: 16px;
  padding: 10px 16px;
  transition: color $transition-fast;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $desk_sm) {
    white-space: nowrap;
    font-size: 14px;
    padding: 8px 0;
    color: $color-text-secondary;
  }

  @include hoverWrapper {
    &:hover {
      color: $dark-red;
    }
  }

  &.fact {
    text-decoration: underline;
  }
}
