@import "../../../style/vars";

.block {
  min-height: 300px;
}

.wrap {
  max-width: 437px;
}

.date-template-day {
  background-color: $white;
  color: $color-text-primary;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include hoverWrapper {
    &:hover {
      background-color: $color-picker-hover !important;
    }
  }
}

.calendar {
  color: $color-text-secondary;
  background-color: $color-block-bg;
  border-radius: 0;
  padding: 12px 15px 16px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet) {
    padding: 12px 24px 24px;
  }
}
