@import "../../../style/vars";

.streak {
  &.fixed {
    height: $header-height-mobile;
    @media screen and (min-width: $tablet) {
      height: $header-height-tablet;
    }
    @media screen and (min-width: $desk_md) {
      height: $header-height-desk;
    }
  }
}
