@import "../../../../style/vars";

.nav {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: $tablet) {
    gap: 9px;
  }

  @media screen and (min-width: $desk_sm) {
    gap: 22px;
    max-width: fit-content;
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media screen and (min-width: $desk_md) {
    gap: 36px;
  }
}
