@import "../../style/vars";

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;

  @media screen and (min-width: $desk_md) {
    padding: 0 40px;
  }
}
