@import "../../../style/vars";

.root {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $link-color-focus;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button {
  background-color: $button-bg;
  width: 100%;
  max-width: 438px;
  min-height: 49px;
  transition: $transition-opacity;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &.var2 {
    background-color: $button-bg-var2;
    color: $white;
  }

  &.left {
    margin: 0;
  }
  &.center {
    margin: 0 auto;
  }
  &.right {
    margin-left: auto;
  }
}

.link {
  font-size: inherit;
  max-width: fit-content;
  transition: $transition-color;

  &:hover {
    color: $link-color-hover;

    path {
      transition: fill $transition;
      fill: $link-color-hover;
    }
  }

  &.var2 {
    font-weight: 700;
  }
}
