// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

// color
$black: #1f1f1f;
$opacity-black: rgba(0, 0, 0, 0.8);
$white: #fff;
$blue: #003580;
$dark-red: #ed2e38;
$middle-red: #f15860;
$dark-gray: #b2b6b9;
$medium-gray: #e0e2e2;
$light-gray: #f6f6f6;

$link-color: $black;
$link-color-hover: $dark-red;
$link-color-focus: $dark-gray;

$button-bg: $dark-red;
$button-bg-var2: $black;

$header-bg: $blue;
$footer-bg: $blue;

$color-block-bg: $black;

$color-modal-overlay: $opacity-black;
$color-modal-bg: $white;

$color-close-icon-hover: $dark-red;

$color-scrollbar-track: $medium-gray;
$color-scrollbar-thumb: $dark-gray;

// breakpoints
$mobile: 576px;
$tablet: 768px;
$desk_sm: 1024px;
$desk_md: 1280px;
$desk_lg: 1440px;
$desk_max: 1900px;

// header & archor
$header-height-mobile: 67px;
$header-height-tablet: 84px;
$header-height-desk: 104px;

// transition
$transition-duration: 0.3s;
$transition-animation: ease-in-out;
$transition: $transition-duration $transition-animation;

// z-index
$z-index-header: 99;
$z-index-modal: 100;
$z-index-scrollbar: 101;

// mixins
@mixin hoverWrapper {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
